html, body {
    height: 100%;
}
body {
    margin: 0;
}

.main-wrapper{
    width: 1440px;
    height: 100%;
}

.header{
    background-color: hotpink;
    justify-content: center;
    display: flex;
    height: 13%;
    border-bottom: solid #4AC040;
}

.inner-header{
    background-color: aqua;
    width: 80%;
    display: flex;
    height: 100%;
    /*margin: auto;
    display: flex;*/
}

.logo-container{
    flex: 1;
    background-color: gray;
}

.inner-logo-container{
    background-color: red;
    height:80%;

}

.logo-text-container{
    background-color: yellow;
    flex: 1;
}

.info-container{
    background-color: green;
    flex: 2;
}

.img{
    margin-left: 30%;
}