html, body {
    height: 100%;
}
body {
    margin: 0;
}

.main-wrapper{
    width: 1440px;
    height: 100%;
}

.header{
    
    justify-content: center;
    display: flex;
    height: 13%;
    border-bottom: solid #4AC040;
}

.inner-header{

    width: 80%;
    display: flex;
    height: 100%;
    /*margin: auto;
    display: flex;*/
}

.inner-logo-container{

    height:80%;

}

.logo-text-container{
    display: flex;
    align-items: center;

    flex: 1;
}

.info-container{
    display: flex;
    justify-content: right;
    align-items: center;

    flex: 2;
}

.heading{
    font-style: ubunu;
    font-size: 50px;
    color: #4AC040;
}

.text-heading{
    font-style: ubunu;
    font-size: 25px;
    color: #4AC040;
}

.img{
    margin-left: 30%;
}

.main-body{
    height: 87%;
    width: 100%;
    display: flex;
    background-color: aqua;
    justify-content: center;
}

.deep-container{
    margin-top: 7%;
    background-color: #4AC040;
    display: flex;
    width: 40%;
    height: 15%;
}

.text-in-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color:#4AC040;
}

.buttons-in-container{
    display: flex;
    align-items: center;
    flex: 1;
}

.play-container{
    display: flex;
    width: 20%;
}

.step-backward-container{
    display: flex;
    flex: 1
}

.step-forward-container{
    display: flex;
    flex: 1
}

.step-backward{
    justify-content: flex-end;
    display: flex;
    flex: 1;
}

.step-forward{
    display: flex;
    flex: 1;
}

.play{
    justify-content: center;
    display: flex;
    flex: 1;
}

.text{
    text-align: center;
    font-size: 40px;
    color: white;
}

